body{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    width: 100%;
}

.top-menu {
    margin-bottom: 1.8rem;
    width: 100%;
    ul {
        height: 5rem;
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        li {
            width: 33%;
            vertical-align: middle;
            position: relative;
            .nav-logo {
                height: 4rem;
            }
            a:focus {
                outline: 0;
                button {
                    border: 2px;
                }
            }
            .formButton{
                width: 100%;
                height: 2rem;
                font-size: 0.8rem;
                border: 1px solid rgb(75, 75, 253);
                border-radius: 25px;
                background-color: rgb(144, 144, 255);
            }
            .formButton:focus {
                outline: 0;
                border: 2px solid rgb(75,75,253);
                box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                transition: .5s;
            }
        }
        li:first-child{
            width: 25%;
        }
        li:last-child {
            margin-right: 10px;
            .selected {
                outline: 0;
                background-color: white;
                border: 1px dotted;
            }
            .hide {
                opacity: 0;
                position: absolute;
                top: -100px;
                z-index: -1;
            }
            div {
                position: relative;
                z-index: 2;
                transition: 1s;
                top: 0;
                form {
                    width: 100%;
                    div {
                        margin-top: 20px;
                        input {
                            box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                            padding: 4px;
                            border-radius: 7px;
                        }
                        input:focus {
                            outline: 0;
                            border-color: rgb(75, 75, 253);
                        }
                    }
                    div:nth-child(even){
                        margin-left: 20px;
                    }
                    div:first-child {
                        margin-left: 20px;
                    }
                    div:last-child {
                        margin-left: 0;
                    }
                }
                
            }
            .navbar-loginform{
                width: 200px;
                background: white;
                border: 1px solid rgb(144, 144, 255);
                padding: 5px;
                position: absolute;
                left: -150px;
                top: 50px;
                .navbar-login {
                    form {
                        div {
                            height: 0.8rem;
                        }
                        div:nth-child(even){
                            margin-top:30px;
                        }
                        div:first-child, div:nth-child(2){
                            margin-top: 10px;
                        }
                    }
                    .gmailFacebook{
                        height: 130px;
                        #firebaseui_container {
                            margin-top: 30px;
                            margin-bottom: 10px;
                        .firebaseui-idp-list {
                            display:flex;
                            flex-direction: column;
                            align-items: center;
                            .firebaseui-list-item{
                                width: 100%;   
                            }
                        }}
                    }
                }
                .navbar-login > div, .navbar-register > div{
                        padding: 10px;
                }
                .navbar-register {
                    form {
                        div{
                            height: 0.8rem;
                        }
                        div:last-child{
                            margin-top: 30px;
                        }
                        div:first-child, div:nth-child(2){
                            margin-top: 10px;
                        }
                    }
                }
                .navbar-login > div:nth-child(3) {
                       margin-top: 35px;
                }
                .navbar-register > div:nth-child(2) {
                       margin-top: 25px;
                } 
            }
        }
    }
}

.second-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 0.8rem;
    ul {
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
            margin: 0;
        li{
            margin: 0;
            width: 30%;
            vertical-align: middle;
                position: relative;
            a {
                width: 100%;
                margin:0;
                padding: 0;
                button{
                    width: 100%;
                    font-size: .8rem;
                }
            }
            a:focus {
                outline: 0;
                button {
                width: 100%;
                    border: 2px;
                }
            }
            .basket{
                background: white;
                position:absolute;
                z-index: 2;
                left: -210px;
                height: 100px;
                width: 300px;
                clear: both;
                padding: 0;
                display: flex;
                flex-direction: column;
                border: 1px solid rgb(144, 144, 255);
                li{
                    background: white;
                    width: 100%;
                    padding: 0;
                    table{
                        width: 300px;
                        font-size: 0.8rem;
                        td{
                            text-align: center;
                            .moreOrLess {
                                width: 0.8rem;
                                height: 0.8rem;
                                margin: 0.2rem;
                                border: 1px solid rgb(75, 75, 253);
                                background-color: rgb(144, 144, 255);
                                border-radius: 0;
                                padding: auto;
                                text-align: center;
                            }
                        }
                    }
                    .cart-buttons {
                        display:flex;
                        justify-content: space-around;
                        .cart-button-part {
                            width: 49%;
                        }
                    }
                }
            }
            button {
                width: 100%;
                font-size: .8rem;
                height: 2rem;
                border: 1px solid rgb(75, 75, 253);
                border-radius: 25px;
                background-color: rgb(144, 144, 255);
            }
            button:focus {
                outline: 0;
                border: 2px solid rgb(75,75,253);
                box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                transition: .5s;
            }
        }
    }
}

.bookingsMain {
    padding: 5px;
    left: 0;
    max-width: 316px;
    font-size: .5rem;
    box-sizing: border-box;
    .bookingList{
        width: 296px;
        thead, tbody{
            width: 296px;
            tr{
                width: 296px;
                th{
                    width: 42px;
                    overflow: hidden;
                }
                td{
                    width: 42px;
                    overflow: hidden;
                }
            }
        }
    }
    .bookingChange {
        form{
            table{
                tbody{
                    tr{
                        text-align: center;
                        td{
                            width: 208px;
                            height: 0.8rem;
                            input{
                                height: 0.5rem;
                                text-align: center;
                                font-size: 0.7rem;
                                border: 1px solid rgb(75, 75, 253);
                            }
                            input:focus{
                                outline: 1px solid rgb(75, 75, 253);
                            }
                        }
                        td:first-child {
                            width: 50px;
                        }
                    }
                }
            }
            div{
                display: flex;
                justify-content: space-evenly;
                button{
                    width: 80px;
                    height: 1.5rem;
                    font-size: 0.8rem;
                    border: 1px solid rgb(75, 75, 253);
                    border-radius: 25px;
                    background-color: rgb(144, 144, 255);
                }
            }
        }
    }
}

.changebutton, .cancelbutton {
    width: 100%;
    font-size: 0.5rem;
    height: 1rem;
    border: 1px solid rgb(75, 75, 253);
    border-radius: 10px;
    background-color: rgb(144, 144, 255);
    font-size: .4rem;
    text-align: center;
}

.changebutton:focus, .cancelbutton:focus {
    outline: 0;
    border: 2px solid rgb(75,75,253);
    box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
    transition: .5s;
}

.main-display{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    max-width: 18rem;
    min-height: 480px;
    border: 1px solid rgb(209, 209, 209);
    float: left;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;

    .card-wrapper {
        min-height: 480px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .image_container {
            display: block;
            text-align: center;
            img {
                border: none;
                display: inline-block;
            }
        }
        
        .card-body {
            display: block;
            width: 100%;
            .card-title {
                font-size: larger;
                font-weight: bold;
                word-wrap: normal;
                border: none;
                width: calc(18rem - 40px);
                margin: 1rem;
                padding: 0;
                text-align: center;
            }
            .card-text{
                font-size: medium;
                word-wrap: normal;
                border: none;
                height:150px;
                overflow: hidden;
            }
            .button-div {
                width: 16rem;
                text-align: center;
                align-self: baseline;
                .card-button {
                    width: 50%;
                    height: 2rem;
                    border: 1px solid rgb(75, 75, 253);
                    border-radius: 25px;
                    background-color: rgb(144, 144, 255);
                }
                .card-button:focus {
                outline: 0;
                border: 2px solid rgb(75,75,253);
                box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                transition: .5s;
                }
            }
        }
    }
}
.card:focus-within {
    outline: 0;
    border: 2px solid rgb(75,75,253);
    box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
    transition: .5s;
}

.card-style1{
    max-width: 18rem;
    border: 1px solid rgb(209, 209, 209);
    padding: 10px;
    box-sizing: border-box;
    float: left;
    .card-style1-wrapper {
        table {
            width: 256px;
            margin:0;
            font-size: 0.8rem;
            th{
                min-width: 42px;
                max-width: 42px;
            }
            td{
                min-width: 42px;
                max-width: 42px;
                button{
                    width: 80%;
                    font-size: 0.8rem;
                    height: 2rem;
                    border: 1px solid rgb(75, 75, 253);
                    border-radius: 10px;
                    background-color: rgb(144, 144, 255);
                }
            }
        }
    }
}

.card-style2 {
    max-width: 18rem;
    max-height: 9rem;
    margin-bottom: 10px;
    border: 1px solid rgb(209, 209, 209);
    float: left;
    padding: 10px;
    box-sizing: border-box;
    .card-style2-wrapper{
        max-height: 8rem;
        display: flex;
        justify-content: space-between;
        .card-style2-image_container{
            width: 48%;
            max-height: 8rem;
            .card-style2-img-top{
            max-height: 8rem;
            }
        }
        .card-style2-body{
            width: 48%;
            max-height: 8rem;
            .card-style2-title{
                max-height: 0.8rem;
                margin: 0;
                padding: 5px;
            }
            .card-style2-text{
                margin: 0;
                padding: 5px;
                max-height: 6rem;
                overflow: hidden;
                scroll-behavior: auto;
            }
        }
    }
}

.addFormMain {
    display: flex;
    justify-content: center;

    .addFormWrapper {
        max-width: 18rem;
        border: 1px solid rgb(209, 209, 209);
        padding: 10px;
        
        .addFormText{
            margin: 20px;
        }
        
        .addFormContainer{
            margin: 20px;
            .addForm{
                .addFormInput{
                    margin: 5px;
                    input {
                        width: 100%;
                    }
                }
                .addFormTextArea{
                    margin: 5px;
                    textarea{
                        min-height: 8rem;
                        width: 100%;
                    }
                }
                .addFormButtonDiv{
                    margin: 5px;
                    float:right;
                    .addFormButton {
                        min-width: 150px;
                        height: 2rem;
                        border: 1px solid rgb(75, 75, 253);
                        border-radius: 25px;
                        background-color: rgb(144, 144, 255);
                    }
                    .addFormButton:focus {
                        outline: 0;
                        border: 2px solid rgb(75,75,253);
                        box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                        transition: .5s;
                    }
                }
            }
        }  
    }
}

.showForm {
    display: initial !important;
}

.showings-card {
    max-width: 36rem;
    min-height: 480px;
    border: 1px solid rgb(209, 209, 209);
    float: left;
    padding: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    .showings-card-wrapper {
        width: 100%;
        form {
        width: 100%;
            table{
        width: 100%;
                tr{
                    th, td {
                        width: 4rem;
                    }
                    th:nth-child(2){
                        width: 6rem;
                    }
                    td:nth-child(2){
                        width: 6rem;
                    }
                }
            }
        }
    }
}

.shedulesMain {
    padding: 2rem;
    display: flex;
    justify-content: center;
    .shedulesWrapper{
        div{
            div{
                button {
                    width: 8rem;
                    height: 2rem;
                    border: 1px solid rgb(75, 75, 253);
                    border-radius: 25px;
                    background-color: rgb(144, 144, 255);
                }
                button:focus {
                    outline: 0;
                    border: 2px solid rgb(75,75,253);
                    box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                    transition: .5s;
                }
            }
        }
        table{
            tbody{
                tr{
                    td{
                        .editShedule{
                            .editSheduleButton {
                                width: 4rem;
                                height: 2rem;
                                border: 1px solid rgb(75, 75, 253);
                                border-radius: 25px;
                                background-color: rgb(144, 144, 255);
                            }
                            .editSheduleButton:focus {
                                outline: 0;
                                border: 2px solid rgb(75,75,253);
                                box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                                transition: .5s;
                            }
                        }
                        .MovieList {
                            width: 4rem;
                        }
                    }
                }
            }
        }
    }
}

.addScheduleMain{
    padding: 2rem;
    .addScheduleWrapper{
        display: flex;
        justify-content: center;
        .addSchedule{
            font-size: larger;
            select{
                width: 10rem;
                height: 2rem;
                border: 1px solid rgb(75, 75, 253);
                border-radius: 25px;
                background-color: rgb(144, 144, 255);
                overflow:scroll;
            }
            .savebutton {
                width: 8rem;
                height: 2rem;
                border: 1px solid rgb(75, 75, 253);
                border-radius: 25px;
                background-color: rgb(144, 144, 255);
            }
            .savebutton:focus {
                outline: 0;
                border: 2px solid rgb(75,75,253);
                box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                transition: .5s;
            }
        }
    }
}

.editSheduleMain{
    padding: 2rem;
    .editSheduleWrapper{
        display: flex;
        justify-content: center; 
        .editShedule{
            font-size: larger;
            select{
                width: 10rem;
                height: 2rem;
                border: 1px solid rgb(75, 75, 253);
                border-radius: 25px;
                background-color: rgb(144, 144, 255);
                overflow:scroll;
                margin-bottom: .8rem;
            }
            button {
                width: 8rem;
                height: 2rem;
                border: 1px solid rgb(75, 75, 253);
                border-radius: 25px;
                background-color: rgb(144, 144, 255);
            }
            button:focus {
                outline: 0;
                border: 2px solid rgb(75,75,253);
                box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                transition: .5s;
            }
        }
    }
}

.profileMain {
    padding: 5px;
    table{
        width: 306px;
        
        button{
            width: 150px;
            font-size: 0.5rem;
            height: 2rem;
            border: 1px solid rgb(75, 75, 253);
            border-radius: 10px;
            background-color: rgb(144, 144, 255);
            font-size: .8rem;
            text-align: center;
        }
    }
}

table > thead > tbody > tfoot > tr > .showForm {
    display: initial !important;
}

@media only screen and (min-width: 600px) {
    
    .top-menu {
        margin-bottom: 1.8rem;
        width: 100%;
        ul {
            height: 5rem;
            list-style: none;
            padding: 0;
            li {
                width: 33%;
                vertical-align: middle;
                position: relative;
                float:left;
                .nav-logo {
                    height: 4rem;
                }
                a:focus {
                    outline: 0;
                    button {
                        border: 2px;
                    }
                }
                .formButton{
                    width: 70%;
                    height: 2rem;
                    font-size: 0.8rem;
                    border: 1px solid rgb(75, 75, 253);
                    border-radius: 25px;
                    background-color: rgb(144, 144, 255);
                }
                .formButton:focus {
                    outline: 0;
                    border: 2px solid rgb(75,75,253);
                    box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                    transition: .5s;
                }
            }
            li:first-child{
                width: 25%;
            }
            li:last-child {
                float: right;
                margin-right: 10px;
                .selected {
                    outline: 0;
                    background-color: white;
                    border: 1px dotted;
                }
                .hide {
                    opacity: 0;
                    position: absolute;
                    top: -100px;
                    z-index: -1;
                }
                div {
                    position: relative;
                    z-index: 2;
                    transition: 1s;
                    top: 0;
                    form {
                        width: 100%;
                        div {
                            margin-top: 20px;
                            input {
                                box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                                padding: 4px;
                                border-radius: 7px;
                            }
                            input:focus {
                                outline: 0;
                                border-color: rgb(75, 75, 253);
                            }
                        }
                        div:nth-child(even){
                            margin-left: 20px;
                        }
                        div:first-child {
                            margin-left: 20px;
                        }
                        div:last-child {
                            margin-left: 0;
                        }
                    }
                    
                }
                .navbar-loginform{
                    width: 300px;
                    background: white;
                    border: 1px solid rgb(144, 144, 255);
                    padding: 5px;
                    padding-left: 20px;;
                    position: absolute;
                    left: -150px;
                    top: 50px;
                    .navbar-login {
                        form {
                            div {
                                height: 0.8rem;
                            }
                            div:nth-child(even){
                                margin-top:30px;
                            }
                            div:first-child, div:nth-child(2){
                                margin-top: 10px;
                            }
                        }
                        .gmailFacebook{
                            height: 130px;
                            #firebaseui_container {
                                margin-top: 30px;
                                margin-bottom: 10px;
                            .firebaseui-idp-list {
                                display:flex;
                                flex-direction: column;
                                align-items: center;
                                .firebaseui-list-item{
                                    width: 100%;   
                                }
                            }}
                        }
                    }
                    .navbar-login > div, .navbar-register > div{
                            padding: 10px;
                    }
                    .navbar-register {
                        form {
                            div{
                                height: 0.8rem;
                            }
                            div:last-child{
                                margin-top: 30px;
                            }
                            div:first-child, div:nth-child(2){
                                margin-top: 10px;
                            }
                        }
                    }
                    .navbar-login > div:nth-child(3) {
                        margin-top: 0;
                    }
                    .navbar-register > div:nth-child(2) {
                        margin-top: 25px;
                    } 
                }
            }
        }
    }

    .second-menu {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-bottom: 0.8rem;
        ul {
            list-style: none;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            padding: 0;
                margin: 0;
            li{
                margin: 0;
                width: 30%;
                vertical-align: middle;
                text-align: center;
                position: relative;
                a {
                    width: 100%;
                    margin:0;
                    padding: 0;
                    button{
                        width: 70%;
                        font-size: .8rem;
                    }
                }
                a:focus {
                    outline: 0;
                    button {
                    width: 100%;
                        border: 2px;
                    }
                }
                .basket{
                    background: white;
                    position:absolute;
                    z-index: 2;
                    left: -310px;
                    top: 40px;
                    height: 100px;
                    width: 500px;
                    clear: both;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    border: 1px solid rgb(144, 144, 255);
                    li{
                        background: white;
                        width: 100%;
                        padding: 0;
                        table{
                            margin-left: 25px;
                            width: 450px;
                            font-size: 1rem;
                            td{
                                text-align: center;
                                .moreOrLess {
                                    width: 1rem;
                                    height: 1rem;
                                    margin: 0.2rem;
                                    border: 1px solid rgb(75, 75, 253);
                                    background-color: rgb(144, 144, 255);
                                    border-radius: 0;
                                    text-align: center;
                                }
                            }
                        }
                        .cart-buttons {
                            display:flex;
                            justify-content: space-around;
                            .cart-button-part {
                                width: 30%;
                            }
                        }
                    }
                }
                button {
                    width: 70%;
                    font-size: .8rem;
                    height: 2rem;
                    border: 1px solid rgb(75, 75, 253);
                    border-radius: 25px;
                    background-color: rgb(144, 144, 255);
                }
                button:focus {
                    outline: 0;
                    border: 2px solid rgb(75,75,253);
                    box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                    transition: .5s;
                }
            }
        }
    }

    .bookingsMain {
        padding: 5px;
        left: 0;
        max-width: 1000%;
        font-size: 1rem;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        .bookingList{
            width: 80%;
        }
        .bookingChange {
            form{
                table{
                    tbody{
                        tr{
                            text-align: initial;
                            td{
                                width: 208px;
                                height: 0.8rem;
                                input{
                                    height: 1rem;
                                    text-align: center;
                                    font-size: 0.8rem;
                                    border: 1px solid rgb(75, 75, 253);
                                }
                                input:focus{
                                    outline: 1px solid rgb(75, 75, 253);
                                }
                            }
                            td:first-child {
                                width: 120px;
                            }
                        }
                    }
                }
                div{
                    display: flex;
                    justify-content: space-evenly;
                    button{
                        width: 80px;
                        height: 1.5rem;
                        font-size: 0.8rem;
                        border: 1px solid rgb(75, 75, 253);
                        border-radius: 25px;
                        background-color: rgb(144, 144, 255);
                    }
                }
            }
        }
    }

    .changebutton, .cancelbutton {
        width: 100%;
        font-size: 0.8rem;
        height: 1.5rem;
        border: 1px solid rgb(75, 75, 253);
        border-radius: 15px;
        background-color: rgb(144, 144, 255);
        text-align: center;
    }

    .changebutton:focus, .cancelbutton:focus {
        outline: 0;
        border: 2px solid rgb(75,75,253);
        box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
        transition: .5s;
    }

    .main-display{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .card {
        max-width: 18rem;
        min-height: 480px;
        border: 1px solid rgb(209, 209, 209);
        float: left;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 10px;

        .card-wrapper {
            min-height: 480px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .image_container {
                display: block;
                text-align: center;
                img {
                    border: none;
                    display: inline-block;
                }
            }
            
            .card-body {
                display: block;
                width: 100%;
                .card-title {
                    font-size: larger;
                    font-weight: bold;
                    word-wrap: normal;
                    border: none;
                    width: calc(18rem - 40px);
                    margin: 1rem;
                    padding: 0;
                    text-align: center;
                }
                .card-text{
                    font-size: medium;
                    word-wrap: normal;
                    border: none;
                    height:150px;
                    overflow: hidden;
                }
                .button-div {
                    width: 16rem;
                    text-align: center;
                    align-self: baseline;
                    .card-button {
                        width: 50%;
                        height: 2rem;
                        border: 1px solid rgb(75, 75, 253);
                        border-radius: 25px;
                        background-color: rgb(144, 144, 255);
                    }
                    .card-button:focus {
                    outline: 0;
                    border: 2px solid rgb(75,75,253);
                    box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                    transition: .5s;
                    }
                }
            }
        }
    }
    .card:focus-within {
        outline: 0;
        border: 2px solid rgb(75,75,253);
        box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
        transition: .5s;
    }

    .card-style1{
        max-width: 450px;
        width: 450px;
        border: 1px solid rgb(209, 209, 209);
        padding: 10px;
        box-sizing: border-box;
        float: left;
        .card-style1-wrapper {
            table {
                width: 450px;
                margin:0;
                font-size: 1rem;
                th{
                    min-width: 42px;
                    max-width: 42px;
                }
                td{
                    min-width: 42px;
                    max-width: 42px;
                    button{
                        width: 80%;
                        font-size: 0.8rem;
                        height: 2rem;
                        border: 1px solid rgb(75, 75, 253);
                        border-radius: 10px;
                        background-color: rgb(144, 144, 255);
                    }
                }
            }
        }
    }

    .card-style2 {
        max-width: 400px;
        max-height: 500px;;
        margin-bottom: 10px;
        border: 1px solid rgb(209, 209, 209);
        float: left;
        padding: 10px;
        box-sizing: border-box;
        .card-style2-wrapper{
            max-height: 500px;
            display: flex;
            justify-content: space-between;
            .card-style2-image_container{
                width: 48%;
                max-height: 8rem;
                .card-style2-img-top{
                max-height: 8rem;
                }
            }
            .card-style2-body{
                width: 48%;
                max-height: 250px;
                display: block;
                .card-style2-title{
                    max-height: initial;
                    margin: 0;
                    padding: 5px;
                    display: block;
                }
                .card-style2-text{
                    max-height: 200px;
                    display: block;
                    margin: 0;
                    padding: 5px;
                    overflow: hidden;
                }
            }
        }
    }

    .addFormMain {
        display: flex;
        justify-content: center;

        .addFormWrapper {
            max-width: 18rem;
            border: 1px solid rgb(209, 209, 209);
            padding: 10px;
            
            .addFormText{
                margin: 20px;
            }
            
            .addFormContainer{
                margin: 20px;
                .addForm{
                    .addFormInput{
                        margin: 5px;
                        input {
                            width: 100%;
                        }
                    }
                    .addFormTextArea{
                        margin: 5px;
                        textarea{
                            min-height: 8rem;
                            width: 100%;
                        }
                    }
                    .addFormButtonDiv{
                        margin: 5px;
                        float:right;
                        .addFormButton {
                            min-width: 150px;
                            height: 2rem;
                            border: 1px solid rgb(75, 75, 253);
                            border-radius: 25px;
                            background-color: rgb(144, 144, 255);
                        }
                        .addFormButton:focus {
                            outline: 0;
                            border: 2px solid rgb(75,75,253);
                            box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                            transition: .5s;
                        }
                    }
                }
            }  
        }
    }

    .showForm {
        display: initial !important;
    }

    .showings-card {
        max-width: 36rem;
        min-height: 480px;
        border: 1px solid rgb(209, 209, 209);
        float: left;
        padding: 10px;
        margin-right: 10px;
        box-sizing: border-box;
        .showings-card-wrapper {
            width: 100%;
            form {
            width: 100%;
                table{
            width: 100%;
                    tr{
                        th, td {
                            width: 4rem;
                        }
                        th:nth-child(2){
                            width: 6rem;
                        }
                        td:nth-child(2){
                            width: 6rem;
                        }
                    }
                }
            }
        }
    }

    .shedulesMain {
        padding: 2rem;
        display: flex;
        justify-content: center;
        .shedulesWrapper{
            div{
                div{
                    button {
                        width: 8rem;
                        height: 2rem;
                        border: 1px solid rgb(75, 75, 253);
                        border-radius: 25px;
                        background-color: rgb(144, 144, 255);
                    }
                    button:focus {
                        outline: 0;
                        border: 2px solid rgb(75,75,253);
                        box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                        transition: .5s;
                    }
                }
            }
            table{
                tbody{
                    tr{
                        td{
                            .editShedule{
                                .editSheduleButton {
                                    width: 4rem;
                                    height: 2rem;
                                    border: 1px solid rgb(75, 75, 253);
                                    border-radius: 25px;
                                    background-color: rgb(144, 144, 255);
                                }
                                .editSheduleButton:focus {
                                    outline: 0;
                                    border: 2px solid rgb(75,75,253);
                                    box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                                    transition: .5s;
                                }
                            }
                            .MovieList {
                                width: 4rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .addScheduleMain{
        padding: 2rem;
        .addScheduleWrapper{
            display: flex;
            justify-content: center;
            .addSchedule{
                font-size: larger;
                select{
                    width: 10rem;
                    height: 2rem;
                    border: 1px solid rgb(75, 75, 253);
                    border-radius: 25px;
                    background-color: rgb(144, 144, 255);
                    overflow:scroll;
                }
                .savebutton {
                    width: 8rem;
                    height: 2rem;
                    border: 1px solid rgb(75, 75, 253);
                    border-radius: 25px;
                    background-color: rgb(144, 144, 255);
                }
                .savebutton:focus {
                    outline: 0;
                    border: 2px solid rgb(75,75,253);
                    box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                    transition: .5s;
                }
            }
        }
    }

    .editSheduleMain{
        padding: 2rem;
        .editSheduleWrapper{
            display: flex;
            justify-content: center; 
            .editShedule{
                font-size: larger;
                select{
                    width: 10rem;
                    height: 2rem;
                    border: 1px solid rgb(75, 75, 253);
                    border-radius: 25px;
                    background-color: rgb(144, 144, 255);
                    overflow:scroll;
                    margin-bottom: .8rem;
                }
                button {
                    width: 8rem;
                    height: 2rem;
                    border: 1px solid rgb(75, 75, 253);
                    border-radius: 25px;
                    background-color: rgb(144, 144, 255);
                }
                button:focus {
                    outline: 0;
                    border: 2px solid rgb(75,75,253);
                    box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                    transition: .5s;
                }
            }
        }
    }

    .profileMain {
        padding: 5px;
        display: flex;
        justify-content: center;
        table{
            width: 306px;
            
            button{
                width: 150px;
                font-size: 0.5rem;
                height: 2rem;
                border: 1px solid rgb(75, 75, 253);
                border-radius: 10px;
                background-color: rgb(144, 144, 255);
                font-size: .8rem;
                text-align: center;
            }
        }
            
            button{
                width: 90px;
                font-size: 0.5rem;
                height: 2rem;
                border: 1px solid rgb(75, 75, 253);
                border-radius: 10px;
                background-color: rgb(144, 144, 255);
                font-size: .8rem;
                text-align: center;
            }
    }
}