main {
    padding: 10px;
    position: absolute;
    top: 150px;
    left: 0;
}

.top-menu {
    margin-bottom: 2rem;
    ul {
        height: 5rem;
        list-style: none;
        li{
            float: left;
            padding: 20px;
            vertical-align: middle;
            .nav-logo {
                height: 4rem;
            }
            a:focus {
                outline: 0;
                button {
                    border: 2px;
                }
            }
            button {
                width: 10rem;
                height: 2rem;
                border: 1px solid rgb(75, 75, 253);
                border-radius: 25px;
                background-color: rgb(144, 144, 255);
            }
            button:focus {
                outline: 0;
                border: 2px solid rgb(75,75,253);
                box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                transition: .5s;
            }
        }
        li:last-child {
            float:right;
            .selected {
                outline: 0;
                background-color: white;
                border: 1px dotted;
            }
            .hide {
                opacity: 0;
                position: absolute;
                top: -100px;
                z-index: -1;
            }
            div {
                position: relative;
                z-index: 2;
                transition: 1s;
                top: 0;
                form {
                    width: 10rem;
                    div {
                        margin-top: 20px;
                        input {
                            box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                            padding: 4px;
                            border-radius: 7px;
                        }
                        input:focus {
                            outline: 0;
                            border-color: rgb(75, 75, 253);
                        }
                    }
                    div:nth-child(even){
                        margin-left: 20px;
                    }
                    div:first-child {
                        margin-left: 20px;
                    }
                    div:last-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

.card {
    max-width: 18rem;
    min-height: 480px;
    border: 1px solid rgb(209, 209, 209);
    float: left;
    padding: 10px;
    margin-right: 10px;
    box-sizing: border-box;

    .card-wrapper {
        min-height: 480px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .image_container {
            display: block;
            text-align: center;
            img {
                border: none;
                display: inline-block;
            }
        }
        
        .card-body {
            display: block;
            width: 100%;
            .card-title {
                font-size: larger;
                font-weight: bold;
                word-wrap: normal;
                border: none;
                width: calc(18rem - 40px);
                margin: 1rem;
                padding: 0;
                text-align: center;
            }
            .card-text{
                font-size: medium;
                word-wrap: normal;
                border: none;
                height:150px;
                overflow: hidden;
            }
            .button-div {
                width: 16rem;
                text-align: center;
                align-self: baseline;
                .card-button {
                    width: 50%;
                    height: 2rem;
                    border: 1px solid rgb(75, 75, 253);
                    border-radius: 25px;
                    background-color: rgb(144, 144, 255);
                }
                .card-button:focus {
                outline: 0;
                border: 2px solid rgb(75,75,253);
                box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                transition: .5s;
                }
            }
        }
    }
}
.card:focus-within {
    outline: 0;
    border: 2px solid rgb(75,75,253);
    box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
    transition: .5s;
}

.addFormMain {
    display: flex;
    justify-content: center;

    .addFormWrapper {
        max-width: 18rem;
        border: 1px solid rgb(209, 209, 209);
        padding: 10px;
        
        .addFormText{
            margin: 20px;
        }
        
        .addFormContainer{
            margin: 20px;
            .addForm{
                .addFormInput{
                    margin: 5px;
                    input {
                        width: 100%;
                    }
                }
                .addFormTextArea{
                    margin: 5px;
                    textarea{
                        min-height: 8rem;
                        width: 100%;
                    }
                }
                .addFormButtonDiv{
                    margin: 5px;
                    float:right;
                    .addFormButton {
                        min-width: 150px;
                        height: 2rem;
                        border: 1px solid rgb(75, 75, 253);
                        border-radius: 25px;
                        background-color: rgb(144, 144, 255);
                    }
                    .addFormButton:focus {
                        outline: 0;
                        border: 2px solid rgb(75,75,253);
                        box-shadow: 5px 5px rgba(100, 100, 100, 0.288);
                        transition: .5s;
                    }
                }
            }
        }  
    }
}